<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="">
  <ion-item lines="full">
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
  </ion-item>
  <ion-item lines="full">
    <ion-item>
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
  </ion-item>
  <ion-row>
    <ion-col>
    <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Login</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a href="/forgot-password">
          Olvidaste tu contraseña?
        </a>
      </p>
    </ion-col>
  </ion-row>
  <span class="center-span"> or </span>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" (click)="onLoginGoogle()" expand="block">
        Login with google
      </ion-button>
    </ion-col>
  </ion-row>
</form>
<ion-row>
  <ion-col>
    <p class="ion-text-end">
      <a href="/register">
        Crear una cuenta
      </a>
    </p>
  </ion-col>
</ion-row>
</ion-content>
