<ion-header>
  <ion-toolbar>
    <ion-title>Verificacion </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>
        Gracias por registrarte!
      </h2>
      <p>Se ha enviado un correo electrónico, <strong>{{user.email}}</strong> por favor</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()">
        Reenviar verificacion
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
