<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="">
  <ion-item lines="full">
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
  </ion-item>
  <ion-row>
    <ion-col>
    <ion-button type="submit" (click)="onResetPassword(email)" expand="block">Request a password reset</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>