<ion-header>
  <ion-toolbar>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="">
  <ion-item lines="full">
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
  </ion-item>
  <ion-item lines="full">
    <ion-item>
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
  </ion-item>
  <ion-row>
    <ion-col>
    <ion-button type="submit" (click)="onRegister(email, password)" expand="block">Registrar</ion-button>
    </ion-col>
  </ion-row>
</form>
<ion-row>
  <ion-col>
    <p>
      <a href="/login">
        Ya tienes cuenta? inicia sesión
      </a>
    </p>
  </ion-col>
</ion-row>
</ion-content>
